@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

body {
  font-family: "Poppins", sans-serif !important;
}
:root {
  --white: "#fff";
}
a {
  color: #000 !important;
  border: none !important;
  text-decoration: none !important;
}
ul {
  list-style-type: none;
  padding: 0 !important;
}
/* custom header code */
.nav-link{
  color: #808285 !important;
}
.active{
  color: #000 !important;
}
.logo-size {
  height: 56px;
  width: auto;
}
.logo-size img {
  height: 100%;
  width: auto;
}
.add-shadow {
  box-shadow: 0px 11px 20px -3px rgba(0, 0, 0, 0.1);
}
/* custom header code */

/* custom bootstrap header code */

.nav-link {
  text-transform: uppercase !important;
}
.navbar-collapse {
  flex-grow: 0 !important;
}
.sticky-top {
  background-color: #fff !important;
}
/* custom bootstrap header code */

/* slider bootstrap header code */

.slider__img--container {
  width: 100%;
  height: 70vh;
  position: relative;
}
.slider__img--container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.slide-info {
  background: rgb(0, 92, 169);
  background: linear-gradient(
    90deg,
    rgba(0, 92, 169, 1) 0%,
    rgba(153, 190, 221, 1) 100%
  );
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 9999;
  top: 0;
  opacity: 75%;
}
.z-10 {
  z-index: 99999999 !important;
}
.button-info {
  position: absolute;
  top: 50%;
  z-index: 999999;
  left: 16%;
  transform: translate(0, -50%);
  width: 30%;
}
.button-info h2 {
  color: #fff;
  font-size: 2.625rem;
}
.slider-btn {
  text-decoration: none;
  background-color: transparent;
  border: 2px solid #fff;
  padding: 12px 34px;
  border-radius: 50px;
  color: #fff;
  margin-top: 24px;
  text-transform: uppercase;
}
.left {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -9;
}
.right {
  position: absolute;
  top: 200px;
  right: 0;
  z-index: -9;
}
.img__big {
  height: 206px;
  width: 206px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.img__big img {
  height: 100%;
  width: 100%;
  object-position: center;
  object-fit: cover;
}
.gray__strock {
  height: 140px;
  width: 140px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #808285;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.gray__circle {
  height: 96px;
  width: 96px;
  background-color: #808285;
  border-radius: 50%;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}
.small__img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.small__img img {
  height: 100%;
  width: 100%;
  object-position: center;
  object-fit: cover;
}
.carousel-indicators [data-bs-target] {
  width: 13px !important;
  height: 13px !important;
  border-radius: 50% !important;
}
.carousel-dark .carousel-indicators [data-bs-target] {
  background-color: #fff !important;
}
.slider-btn__main {
  text-decoration: none;
  background-color: #005ca9;
  border: none;
  padding: 12px 34px;
  border-radius: 50px;
  color: #fff;
  margin-top: 24px;
  text-transform: uppercase;
}
.section__title {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 24px;
}
.about__text {
  color: #808285;
  font-size: 16px;
}
.side__img--container {
  position: relative;
}
.gray__strock {
  position: absolute;
  top: 2px;
  left: 220px;
}
.gray__circle {
  position: absolute;
  top: 220px;
  left: 100px;
}
.small__img {
  position: absolute;
  top: 165px;
  left: 210px;
}
/* slider bootstrap header code */

/* why us code */

.why__us {
  /* The image used */
  background-image: linear-gradient(
      90deg,
      rgba(0, 92, 169, 0.7) 0%,
      rgba(0, 28, 51, 0.7) 100%
    ),
    url("/assets/img/slider-1.jpg");

  /* Set a specific height */
  min-height: 470px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@supports (background-attachment: fixed) {
  .why__us {
    background-attachment: fixed;
  }
}
.why__us .section__title {
  color: #fff;
}
.why__us--features {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.why__img--container {
  height: 80px;
  width: 80px;
  border: 2px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}
.flex__container h5 {
  font-size: 1.125rem;
}
.flex__container p {
  font-size: 0.875rem;
}
/* why us code */

/* product card */
.product__card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product__img--container {
  width: 186px;
  aspect-ratio: 1/1;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0px -4px 20px -3px rgba(0, 0, 0, 0.1),
    0px 4px 20px -3px rgba(0, 0, 0, 0.1), 4px 0px 20px -3px rgba(0, 0, 0, 0.1),
    -4px 0px 20px -3px rgba(0, 0, 0, 0.1);
}
.product__img--container img {
  height: 100%;
  width: 100%;
}
.product__card--info {
  position: relative;
  border: 1px solid #717171;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product_card--name {
  font-size: 1.125rem;
  font-weight: 600;
  background-color: #fff;
  width: fit-content;
  position: absolute;
  top: -20%;
  width: 70%;
}
/* product card */

/* contact__us */

.contact__us {
  background-image: linear-gradient(
    90deg,
    rgba(0, 92, 169, 1) 0%,
    rgba(0, 28, 51, 1) 100%
  );
}

/* contact__us */
.btn_container {
  display: flex;
  width: 100%;
  justify-content: center;
}
.contact__us h6 {
  font-size: 0.875rem;
  text-transform: uppercase;
}
.contact__us h2 {
  font-size: 1.625rem;
}
.contact__us h2,
.contact__us h6 {
  color: #fff;
}
.footer__logo--container {
  height: 64px;
  width: auto;
}
.footer__logo--container img {
  height: 100%;
  width: auto;
}
.footer__bottom {
  background-color: #f1f1f1;
}
footer h5 {
  font-size: 1.125rem;
  text-transform: uppercase;
}
footer ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
footer a {
  font-size: 0.875rem;
  color: #808285 !important;
}
p {
  margin: 0 !important;
  padding: 0 !important;
}
.f-size {
  font-size: 18px !important;
}
.contact__info {
  display: flex;
  gap: 16px;
  align-items: start;
}
.contact__info li,.contact__info p {
  font-size: 0.875rem;
  color: #808285 !important;
}
.contact__info img {
  margin-top: 3px;
}
.location__container p,.footer__bottom p {
  font-size: 0.875rem;
  color: #808285 !important;
}
ul,
li {
  margin: 0 !important;
}
.top__title--about{
  /* The image used */
  background-image: linear-gradient(
      90deg,
      rgba(0, 92, 169, 0.7) 0%,
      rgba(0, 28, 51, 0.7) 100%
    ),
    url("/assets/img/slider-1.jpg");

  /* Set a specific height */
  min-height: 300px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* flex */
  display: flex;
  justify-content: center;
  align-items: center;
}

@supports (background-attachment: fixed) {
  .top__title--about {
    background-attachment: fixed;
  }
}
.top__title--secondary{
    /* The image used */
    background-image: linear-gradient(
      90deg,
      rgba(0, 92, 169, 0.7) 0%,
      rgba(0, 28, 51, 0.7) 100%
    ),
    url("/assets/img/slider-1.jpg");

  /* Set a specific height */
  min-height: 220px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* flex */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.top__title--about h2, .top__title--secondary h2{
  color: #fff;
  font-size: 2.625rem;
  width: 70%;
}
.top__title--secondary h2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 2;
  text-align: center;
}
.blue-box{
  width: 740px;
  height: 740px;
  background-color: #005ca9;
  position: absolute;
  bottom: -40px;
  left: 20%;
  border-radius: 41px;
  z-index: 1;
  transform: rotate(60deg);
}
.black-box{
  width: 460px;
  height: 460px;
  background-color: #000;
  position: absolute;
  bottom: -40px;
  left: 40%;
  border-radius: 31px;
  transform: rotate(60deg);
}
.who__img--box{
  position: relative;
}
.who__img--container{
  width: 90%;
  aspect-ratio: 16/9;
  height: auto;
  overflow: hidden;
  border-radius: 12px;
  margin-left: 10px;
}
.who__img--container img{
  width: 100%;
  height: auto;
  object-fit: cover;
}
.who__img--bg{
  width: 90%;
  height: auto;
  aspect-ratio: 16/9;
  background-color: #F1F1F1;
  position: absolute;
  bottom: -10px;
  z-index: -9;
  border-radius: 12px;
}
.about__section--title{
  font-size: 2.25rem;
  color: #005ca9;
  font-weight: 600;
}
.about__section--description{
  color: #808285;
}
.manufacture__img--container{
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  border-radius: 6px;
  overflow: hidden;
}
.manufacture__img--container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: all 1.5s;
}
.manufacture__img--container img:hover{
  transform: scale(1.2);
  font-family:Arial, Helvetica, sans-serif
}


/* img model */
.img__popup{
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 999999999;
  height: 100%;
  width: 100%;
  display: none;
}
.img__popup span{
  position: absolute;
  top: 24px;
  right: 24px;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}
.img__popup img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: auto;
  height: 90%;
}

.category__container{
  border: #005ca9 1px solid;
  border-radius: 6px;
}
.category__title{
  background-color: #005ca9;
  border-radius: 3px;
  color: #fff;
}
.category__lists--container a{
  color: #464646 !important;
  font-size: 14px;
}
.category__lists--container li{
  padding-bottom: 6px;
}
.category__lists--container li:last-child{
  padding-bottom: 0;
}
.details__img--container{
  width: 90%;
  height: auto;
  aspect-ratio: 1/1;
  /* overflow: hidden; */
}
.details__img--container img{
  width: 100%;
  height: 100%;
}
.product__img--others{
  display: flex;
  gap: 0 16px;
  align-items: center;
}
.other__img--container{
  height: 86px;
  width: 86px;
  aspect-ratio: 1/1;
}
.other__img--container img{
  height: 100%;
  width: 100%;
}
.active-img{
  border: 1px solid #8A8A8A;
  padding: 2px;
}
.product__details--title{
  font-size: 2.5rem;
  color: #005ca9;
  font-weight: 600;
}
.product__details--subtitle{
  color: #808285;
}
.details__title{
  border-bottom: 1px solid #808285;
  padding-bottom: 6px;
  width: fit-content;
}
.product__details--infos li{
  list-style-type: disc;
  list-style-position: inside;
}
.product__details--spec{
  border: 1px solid #808285;
  width: 80%;
  border-radius: 6px;
  overflow: hidden;
}
.product__spec--btns{
  display: flex;
  width: 100%;
}
.btn-toggle{
  padding: 20px 0;
  width: 50%;
  background-color: transparent;
  border: none;
}
.btn-active{
  background-color: #005ca9 !important;
  color: #fff;
  border: 1px solid #005ca9;
}
.product__details--info li{
  list-style-type: disc;
  list-style-position: inside;
}
/* responsive design */
/* tab */
@media (max-width: 1080px){
  .product_card--name{
    font-size: 16px;
  }
}
@media (max-width: 768px){
  .img__popup img{
    width: 90%;
    height: auto;
  }
  .details__img--container{
    width: 100%;
  }
  .product__details--spec{
    width: 100%;
  }
  .product__details--title{
    font-size: 1.8rem;
  }
}
/* mobile */
@media (max-width: 640px){
  .button-info{
    width: 80%;
    left: 5%;
  }
  .button-info h2{
    font-size: 24px;
  }
  .slider-btn{
    padding: 8px 24px;
    font-size: 14px;
  }
  .img__big{
    height: 180px;
    width: 180px;
  }
  .gray__strock{
    left: 196px;
  }
  .gray__circle{
    top: 182px;
    left: 76px;
  }
  .small__img{
    top: 152px;
    left: 180px;
  }
  .side__img--container{
    height: 334px;
  }
  .top__title--about{
    height: 80px;
  }
  .top__title--about h2,.top__title--secondary h2{
    font-size: 1.25rem;
    width: 90%;
  }
}